body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
	font-size: 14px;
}
.unordered-list {
	padding: 0;
}
.inner-block {
	padding: 20px;
}
ul li {
	list-style-type: none;
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 5px;
}
ul .list-items-jokes {
	border: 1px solid black;
	height: 80px;
}

button {
	border: 1px solid black;
	width: 300px;
	background-color: black;
	color: white;
	font-size: 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.inner-body {
	border: 1px solid black;
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}